[Unit]
Description=Contrail mesos manager configuration
Documentation=Contrail mesos manager configuration
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/contrailctl config sync -c mesosmanager -F -t configure,service
TimeoutStartSec=0
MountFlags=slave

[Install]
WantedBy=multi-user.target
