[Unit]
Description=Contrail mesos manager configuration
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/contrailctl config sync -c mesosmanager -F -v -t configure,service
TimeoutStartSec=0
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
