[Unit]
Description=Contrail vrouter agent configuration
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/contrailctl config sync -c agent -F -t configure,service,provision
TimeoutStartSec=0
MountFlags=slave

[Install]
WantedBy=multi-user.target
