[Unit]
Description=Contrail controller configuration
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/contrailctl config sync -c controller -F -v -t configure,service,provision
TimeoutStartSec=0
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
