LOG=/var/log/contrail.log
CONFIG={{ vrouter_agent_conf }}
prog=/usr/bin/contrail-vrouter-agent
kmod=vrouter
pname=contrail-vrouter-agent
LIBDIR=/usr/lib64
DEVICE={{ vhost_interface }}
dev={{ vrouter_physical_interface }}
physical_interface_mac={{ vrouter_physical_interface_mac_address }}
vgw_subnet_ip=
vgw_int=
LOGFILE=--log-file=/var/log/contrail/vrouter.log
