[Unit]
Description="Contrail Web UI"
After=redis.service
Requires=redis.service

[Service]
WorkingDirectory=/usr/src/contrail/contrail-web-core
ExecStart=/usr/bin/node webServerStart.js
Restart=always
LimitCORE=infinity

[Install]
WantedBy=multi-user.target