[Unit]
Description=Contrail Analyticsdb configuration
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/contrailctl config sync -c analyticsdb -F -v -t configure,service,provision
TimeoutStartSec=0
MountFlags=slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
