[Unit]
Description=Contrail Analyticsdb configuration
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/contrailctl config sync -c analyticsdb -F -t configure,service,provision
TimeoutStartSec=0
MountFlags=slave

[Install]
WantedBy=multi-user.target
