[Unit]
Description=Contrail kube manager configuration
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/contrailctl config sync -c kubemanager -F -t configure,service
TimeoutStartSec=0
MountFlags=slave

[Install]
WantedBy=multi-user.target
