[Unit]
Description=Contrail kube-manager
Documentation=Contrail kube manager
After=network.target

[Service]
Type=simple
NotifyAccess=all
ExecStart=/usr/bin/contrail-kube-manager -c /etc/contrail/contrail-kubernetes.conf
TimeoutStartSec=0
MountFlags=slave
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
